<h2> <%= @list.name %> </h2>
<ul>
  <% @bookmarks.each do |b| %>
    <li>
      <% list_path(b) %>
        <%= b.comment %>
        <%= b.movie.title %>
      </a>
    </li>
  <% end %>
</ul>
<%= link_to "Back to list",  lists_path%>
<%= link_to "New bookmark",  new_list_bookmark_path(@list.id)%>