
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key %>')">
  <%= @list.name %> </h1>
</div>

<div class="container">

  <% @bookmarks.each do |b| %>
  <div class="card">
      <div class="card-body">
      <% list_path(b) %>
          <h5 class="card-title"><%= b.movie.title %></h5>
          <p class="card-text">"<%= b.comment %>"</p>
          <%= link_to bookmark_path(b),{
                        method: :delete,
                        data: { confirm: "Are you sure?" } }  do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
    </div>
  </div>
  <% end %>



  <a href="<%= lists_path %>" class="btn btn-primary">
    Back to list
  </a>
  <a href="<%= new_list_bookmark_path(@list.id) %>" class="btn btn-primary">
    New Bookmark
  </a>
</div>